<h1>Snippets:</h1>
<hr>
<div class=".col-xs-12 .col-sm-6 .col-lg-8">
<% @snippets.each do |snippet| %>
  <h1><%= link_to snippet.title, snippet %></h1>

  <h4>Language: <%= snippet.category.kind %> </h4>

    <%# html = CodeRay.scan(snippet.work, snippet.category.kind).div(:line_numbers => :table) %>
    <%#= html.html_safe %>
    <%= markdown(snippet.work) %> 

  </div>

  <% if snippet != @snippets.last %>
  <hr />
  <% end %>
<% end %>
