<h1>Snippets:</h1>
<hr>
<% @snippets.each do |snippet| %>
  <h1><%= link_to snippet.title, snippet %></h1>

  <h4>Language: <%= snippet.category.kind %> </h4>

  <div class="container">
    <% html = CodeRay.scan(snippet.work, snippet.category.kind).div(:line_numbers => :table) %>
    <%= html.html_safe %>
  </div>

  <% if snippet != @snippets.last %>
  <hr />
  <% end %>
<% end %>
