/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  //Import bootstrap-sprockets
  @import "bootstrap-sprockets";
  // Import cerulean variables
  @import "bootswatch/cosmo/variables";

  // Then bootstrap itself
  @import "bootstrap";

  // Bootstrap body padding for fixed navbar
  // body { padding-top: 20px; }
  // td { font-size: 1.3em;}
  // th { font-size: 1.3em;}
  // .container-fluid {text-align: center; font-size: 1.2em;}

  // And finally bootswatch style itself
  @import "bootswatch/cosmo/bootswatch";



 @keyframes border-pulsate {
     0%   { border-color: rgba(255, 0, 0, 1); }
     50%  { border-color: rgba(255, 0, 0, 0); }
     100% { border-color: rgba(255, 0, 0, 1); }
 }

 .field_with_errors { border: 3px solid lightcoral; animation: border-pulsate 2s infinite; border-radius: 10px; padding: 10px 10px 10px 2px;}

 .container1{
   margin-left: 80px;
 }
 .nav-side-menu {
   overflow: auto;
   font-size: 16px;
   font-weight: 200;
   background-color: #2e353d;
   position: fixed;
   top: 0px;
   width: 75px;
   height: 100%;
   color: #e1ffff;
 }
 .nav-side-menu .brand {
   background-color: #23282e;
   line-height: 50px;
   display: block;
   text-align: center;
   font-size: 16px;
 }
 .nav-side-menu .toggle-btn {
   display: none;
 }
 .nav-side-menu ul,
 .nav-side-menu li {
   list-style: none;
   padding: 0px;
   margin: 0px;
   line-height: 35px;
   cursor: pointer;
 }
 .nav-side-menu ul :not(collapsed) .arrow:before,
 .nav-side-menu li :not(collapsed) .arrow:before {
   content: "\f078";
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   vertical-align: middle;
   float: right;
 }
 .nav-side-menu ul .active,
 .nav-side-menu li .active {
   border-left: 3px solid #d19b3d;
   background-color: #4f5b69;
 }
 .nav-side-menu ul .sub-menu li.active,
 .nav-side-menu li .sub-menu li.active {
   color: #d19b3d;
 }
 .nav-side-menu ul .sub-menu li.active a,
 .nav-side-menu li .sub-menu li.active a {
   color: #d19b3d;
 }
 .nav-side-menu ul .sub-menu li,
 .nav-side-menu li .sub-menu li {
   background-color: #181c20;
   border: none;
   line-height: 28px;
   border-bottom: 1px solid #23282e;
   margin-left: 0px;
 }
 .nav-side-menu ul .sub-menu li:hover,
 .nav-side-menu li .sub-menu li:hover {
   background-color: #020203;
 }
 .nav-side-menu ul .sub-menu li:before,
 .nav-side-menu li .sub-menu li:before {
   content: "\f105";
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   vertical-align: middle;
 }
 .nav-side-menu li {
   padding-left: 0px;
   border-left: 3px solid #2e353d;
   border-bottom: 1px solid #23282e;
 }
 .nav-side-menu li a {
   text-decoration: none;
   color: #e1ffff;
 }
 .nav-side-menu li a i {
   padding-left: 10px;
   width: 20px;
   padding-right: 20px;
 }
 .nav-side-menu li:hover {
   border-left: 3px solid #d19b3d;
   background-color: #4f5b69;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
 }
 @media (max-width: 767px) {
   .nav-side-menu {
     position: relative;
     width: 100%;
     margin-bottom: 10px;
   }
   .nav-side-menu .toggle-btn {
     display: block;
     cursor: pointer;
     position: absolute;
     right: 10px;
     top: 10px;
     z-index: 10 !important;
     padding: 3px;
     background-color: #ffffff;
     color: #000;
     width: 40px;
     text-align: center;
   }
   .brand {
     text-align: left !important;
     font-size: 22px;
     padding-left: 20px;
     line-height: 50px !important;
   }
 }
 @media (min-width: 767px) {
   .nav-side-menu .menu-list .menu-content {
     display: block;
   }
 }
 body {
   margin: 0px;
   padding: 0px;
 }

 .CodeRay {
   background-color: #232323;
   border: 1px solid black;
   font-family: 'Courier New', 'Terminal', monospace;
   color: #E6E0DB;
   padding: 3px 5px;
   overflow: auto;
   font-size: 12px;
   margin: 12px 0;
 }
 




 // #container {
 //   margin-top: 20px;
 //  //  margin-left: 30px;
 //   position: relative;
 //   background: #45453f;
 // }
 //
 // .pulse {
 //   width: 10px;
 //   height: 10px;
 //   border: 5px solid #f7f14c;
 //   -webkit-border-radius: 30px;
 //   -moz-border-radius: 30px;
 //   border-radius: 30px;
 //   background-color: #716f42;
 //   z-index: 10;
 //   position: absolute;
 // }
 //
 // .dot {
 //   border: 10px solid #fff601;
 //   background: transparent;
 //   -webkit-border-radius: 60px;
 //   -moz-border-radius: 60px;
 //   border-radius: 60px;
 //   height: 50px;
 //   width: 50px;
 //   -webkit-animation: pulse 3s ease-out;
 //   -moz-animation: pulse 3s ease-out;
 //   animation: pulse 3s ease-out;
 //   -webkit-animation-iteration-count: infinite;
 //   -moz-animation-iteration-count: infinite;
 //   animation-iteration-count: infinite;
 //   position: absolute;
 //   top: -25px;
 //   left: -25px;
 //   z-index: 1;
 //   opacity: 0;
 // }
 //
 // @-moz-keyframes pulse {
 //  0% {
 //     -moz-transform: scale(0);
 //     opacity: 0.0;
 //  }
 //  25% {
 //     -moz-transform: scale(0);
 //     opacity: 0.1;
 //  }
 //  50% {
 //     -moz-transform: scale(0.1);
 //     opacity: 0.3;
 //  }
 //  75% {
 //     -moz-transform: scale(0.5);
 //     opacity: 0.5;
 //  }
 //  100% {
 //     -moz-transform: scale(1);
 //     opacity: 0.0;
 //  }
 // }
 //
 // @-webkit-keyframes "pulse" {
 //  0% {
 //     -webkit-transform: scale(0);
 //     opacity: 0.0;
 //  }
 //  25% {
 //     -webkit-transform: scale(0);
 //     opacity: 0.1;
 //  }
 //  50% {
 //     -webkit-transform: scale(0.1);
 //     opacity: 0.3;
 //  }
 //  75% {
 //     -webkit-transform: scale(0.5);
 //     opacity: 0.5;
 //  }
 //  100% {
 //     -webkit-transform: scale(1);
 //     opacity: 0.0;
 //  }
 // }



 // .form-control { width: 80%;}

 // /*@keyframes blink {
 //    50% { border-color: #ff0000; }
 // }
 // .field_with_errors {
 //   padding: 10px 10px 10px 0px;
 //
 //
 //   border: 3px solid lightcoral;
 //   border-radius: 10px;
 //   animation-name: blink ;
 //   animation-duration: .6s ;
 //   animation-timing-function: step-end ;
 //   animation-iteration-count: infinite ;
 //   animation-direction: alternate ;
 // }*/
 //
 // /*.field_with_errors {
 //
 // }*/


// html {
//   font-family: monospace;
//
// }
//
// table {
//   padding: 10px 10px 10px 1px;
//   /*text-align: left;*/
//   border: 4px solid grey;
//   border-radius: 5px;
//
// }
//
// th {
//   text-align: left;
//
//   padding: 1px 1px 10px 1px;
//   /*border-right: 1px solid slategrey;*/
//   border-bottom: 1px solid slategrey;
// }
//
// td {
//   text-align: left;
//   padding: 3px 10px 3px 1px;
//
//   border-bottom: 1px solid slategrey;
//   /*border-right: 1px solid slategrey;*/
//   /*border: 1px solid grey;*/
// }
